<div class="container-custom footer-content">
    <h3>Odisha State Population-Based Cancer Registry (OSPBCR)</h3>

    <p>
        A Statewide Initiative for Cancer Surveillance, Epidemiology,
        Research, and Public Health Planning in Odisha.
    </p>

    <div class="footer-bottom">
        <p>National Institute of Science Education and Research (NISER)</p>
        <p>Advanced Centre for Treatment, Research and Education in Cancer (ACTREC)</p>
        <p>Government of Odisha</p>
        <p>
            © 2026 Odisha State Population-Based Cancer Registry (OSPBCR).
            All Rights Reserved.
        </p>
    </div>
</div>
